---
interface Props {
	id?: string;
	class?: string;
}

const { class: customClass, id } = Astro.props;
---

<section
	id={id}
	data-section={id}
	class={`section w-full lg:w-[740px] mx-auto ${customClass}`}
>
	<slot />
</section>
