---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/Contact.astro";
import Suitcase from "../icons/Suitcase.astro";
import Rocket from "../icons/Rocket.astro";
import User from "../icons/User.astro";
---

<Layout
	title="Anthony's portfolio - Software Developer and Programmer with 5 years of experience"
	description='Hire Anthony Pastor to build your dream website or application. Experienced software developer with over 5 years of expertise in creating modern websites using cutting-edge technologies.'
>
	<main class='px-5'>
		<SectionContainer class='py-16 md:py-36' '>
			<Hero />
			<slot />
		</SectionContainer>

		<SectionContainer id='experience' class='pb-24'>
			<h2 class='text-2xl font-semibold mb-8 flex gap-x-2 items-center'>
				<Suitcase class='size-7' /> Work experience
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id='projects' class='pb-24'>
			<h2 class='text-2xl font-semibold mb-8 flex gap-x-2 items-center'>
				<Rocket class='size-7' /> Projects
			</h2>

			<Projects />
		</SectionContainer>

		<SectionContainer id='about-me' class='pb-24'>
			<h2 class='text-2xl font-semibold mb-8 flex gap-x-2 items-center'>
				<User class='size-7' /> About me
			</h2>

			<AboutMe />
		</SectionContainer>

		<SectionContainer id='contact'>
			<h2 class='text-2xl font-semibold mb-8 flex gap-x-2 items-center'>
				<User class='size-7' /> Say Hi to me!
			</h2>

			<Contact />
		</SectionContainer>
	</main>
</Layout>
