---
interface Props {
	id?: string;
	class?: string;
}

const { class: customClass, id } = Astro.props;
---

<section id={id} class={`w-full lg:w-[740px] mx-auto ${customClass}`}>
	<slot />
</section>
